<div class="detail-section">
    <div class="container-fluid">

        <img src="{{ product.imageUrl }}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice * 88.08 | currency:'INR' }}</div>
        <a href="#" class="primary-btn">Add to Cart</a>

        <hr>
        <h4>Product Description</h4>
        <p>{{ product.description }}</p>

        <hr>

        <a routerLink="/products" class="btn btn-outline-primary">Back to Products</a>

    </div>
</div>
